<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   SpotifyCredentials.plist
   EasifyCore

   Created by Muhammed Said Özcan on 19/05/2020.
   Copyright (c) 2020 Muhammed Said Özcan. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>client_id</key>
        <string></string>
        <key>client_secret</key>
        <string></string>
        <key>redirect_url</key>
        <string></string>
    </dict>
</plist>
